.box{
    border: 1px solid black;
    width: 50%; /* 부모태그의 50%로 설정, 브라우저 크기를 변동할 경우 컨텐츠 박스의 너비 변경됨 */
    margin: 0 auto; /* 화면 중앙 배치 */
    max-width: 800px;
    /* 컨텐츠 박스가 800px보다 넓어지지 않게 설정 */
    min-width: 320px;
    /* 컨텐츠 박스가 320px보다 줄어들지 않게 설정 */
    min-height: 300px;
    max-height: 400px; /* 흘러넘치게 됨 */ 
    overflow: auto; /* 흘러넘치는 내용 스크롤바를 생성하여 컨텐츠 박스안에서 볼 수있게 함 (내용이 줄어들게 되면 스크롤바 없어짐)*/
}