/* 스타일 초기화 - 각 태그들에게 설정되어 있는 기본스타일 제거 작업 */
*{
    margin: 0; 
    padding: 0;
}

/* 상속 스타일로 설정하는 이유 : 영역태그에 글씨 관련 속성들을 지정했을 대 그 안에 자식태그나 자손태그 혹은 글자들의 글씨 스타일을 한번에 적용 혹은 수정하기 편하게 하기 위해서 */
    /* 제목태그 스타일 제거 */
h1,h2,h3,h4,h5,h6{
    /* ",(콤마)" 그룹 선택자 */
    font-size: inherit; 
    /* 글씨크기를 부모태그에 적용된 글씨크기로 적용하겠다. - '상속시키겠다' 라는 뜻 */
    /* 우선순위 점수의 효과가 없어지며 부모태그에게 상속받는 스타일로 적용 */
    /* 모든 태그의 폰트사이즈를 기본값으로 지정할때 부모태그만 폰트사이즈를 지정하여 상속받게 적용하여 편하게 하기 위함 */
    font-weight: inherit;
    /* 제목태그의 폰트 굵기를 부모태그에 적용된 폰트 굵기로 적용하겠다. - '상속시키겠다라는 뜻 */
    /* 행간 자간 정렬 대소문자변경 색상 등 글자와 관련되어 적용할 수있는 스타일은 부모가 자식태그에게 상속할 수 있다. */
    line-height: 1.2;
}
    /* 각종 스타일이 기본이 아닌 태그를 선택해서 스타일을 상속시키기 */
strong,b{
    font-weight: inherit;
}
i,em,address{
    font-style: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
ul,ol{
    list-style: none;
}
img,video{
    max-width: 100%;
}
input{outline: 0;}
/* 입력박스 아웃라인 굵기 감소 */