.box{
    border: 5px solid black;
    width: 400px;
    height: 400px;
}
.box1{
    border-radius: 50px;
    /* 박스 사이즈의 반px 이상을 적용한다면 적용되지 않음 */
    box-shadow: 10px 10px 10px rgb(143, 241, 130);
}
.box2{
    border-radius: 50%;
    /* %로 지정시 설정된 너비,높이의 반만큼 적용됨 */
    box-shadow: 20px 20px 0px red, 
    -20px -20px 0px blue;
    /* ",(콤마)"를 사용하여 여러개의 그림자를 적용할 수 있음 */
}
.box3{
    background-color: blueviolet;
    border-radius: 50px 100px;
    /* 왼쪽 상단부터 시계방향으로 50px 100px 50px 100px 적용 (축약형)*/
    opacity: 0; 
    /* 전체적으로 모든 태그에 적용*/
    /* 아예 보이지 않게 되지만 아래 태그가 위로 올라오지 않는 것을 보아 본인의 공간은 그대로 차지 */
    /* display: none; */
    /* 태그 자체가 사라지게 되는 것으로 아래 태그가 위로 올라오게 됨 */
}
.box4{
    border-radius: 0px 50px 100px 150px;
    /* 왼쪽 상단부터 시계방향으로 적용 */
}